body {
    background-color: aliceblue;
}

input[type="radio"].radio-btn {
    display: none;
}

input[type="radio"].radio-btn+label {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #6c757d;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
}

input[type="radio"].radio-btn:hover+label {
    background-color: rgba(26, 87, 133, 255);
    border-color: rgba(26, 87, 133, 255);
}

input[type="radio"].radio-btn:checked+label {
    background-color: rgba(26, 87, 133, 255);
    border-color: rgba(26, 87, 133, 255);;
}

.barre {
    text-decoration: line-through;
}

.bg-flyBook {
    background-color: rgba(26, 87, 133, 255);
}

header img {
    height: 40px;
}

header img {
    height: 40px;
}

.form-row {
    margin-bottom: 12px;
}

.navigation {
    padding: 10px;
}

.card-img-top {
    width: 100%;
}

#background {
    width: 100%;
}

#recherche {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

#card-content {
    display: grid;
    align-items: center;
}

#search-button {
    padding-left: 12px;
    padding-right: 12px;
}

#search-select {
    height: 100%;
}

#search-select-div {
    display: flex;
    align-items: center;
}

#index-footer {
    padding: 0;
    position: fixed;
    bottom: 0;
}